
body {
    display: inline-block;
    max-width: max-content;
    color: rgb(10, 133, 241);
    background-size: contain;
        background-image: url(/src/images/background-image.jpg);
        max-width: max-content;
}
.left-column {
    width: 25%;
    height: 750px;
    background-color: transparent;
    float: left;
}
.my-photo {
width: 200px;
height: 200px;
}
.main-info {
    width: 75%;
    height: 750px;
    background-color: transparent;
    float: left;
}
.list {
    color: yellowgreen;
}
.hobby {
    color:powderblue;
}
.bornandlife {

}
.footer {
    color: whitesmoke;
    background-color: transparent;
    width: 400;
    height: 200;
    text-align: center;
}